<h2 class="screen-align">Addticket1</h2>
<div id="template-iump" class="row">
    <div id="template-imj2" class="cell">
        <label id="template-iuoa" class="label">Name</label>
        <input id="template-iu1zh" [(ngModel)]="tickets1.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-iph5w" (click)="GpCreate()" class="button btn btn-primary">Send</button>
    </div>
    <div id="template-ihjx" class="cell">
        <label id="template-ibxgp" class="label">Description</label>
        <input id="template-il94g" [(ngModel)]="tickets1.description"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
    <div id="template-ik6e" class="cell">
        <label id="template-iowtu" class="label">Groups</label>
        <input id="template-irbvh" [(ngModel)]="tickets1.groups"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>